<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.lis_back.mapper.InspectionMapper">

    <select id="getUnregisteredMapper" resultType="com.douzone.lis_back.domain.RegisterDTO">
        SELECT p.prescribe_code AS prescribeCode, p.status_code AS statusCode, p.order_code AS orderCode, c.barcode AS barcode,
               r.inspector_id AS inspectorId, v.patient_no AS patientNo, r.register_code AS registerCode, r.register_dt AS registerDt
        FROM prescribe AS p LEFT JOIN collecting AS c ON p.prescribe_code = c.prescribe_code
                            LEFT JOIN register AS r ON c.barcode = r.barcode and r.prescribe_code = c.prescribe_code
                            LEFT JOIN visit AS v ON p.visit_code = v.visit_code
        WHERE p.status_code IN ("D", "S") AND c.cancel_barcode_dt IS NULL AND c.cancel_collecting_dt IS NULL AND r.cancel_register_dt IS NULL;
    </select>

    <select id="getSearchRegisterMapper" resultType="com.douzone.lis_back.domain.RegisterDTO" parameterType="com.douzone.lis_back.domain.SearchDTO">
        SELECT r.register_code AS registerCode, r.barcode AS barcode, r.inspector_id AS inspectorId, r.prescribe_code AS prescribeCode,
        r.register_dt AS registerDt, o.order_code AS orderCode, p.status_code AS statusCode, pat.patient_no AS patientNo
        FROM register AS r LEFT JOIN collecting AS c ON r.barcode = c.barcode AND r.prescribe_code = c.prescribe_code
        LEFT JOIN prescribe AS p ON c.prescribe_code= p.prescribe_code
        LEFT JOIN order_slip AS o ON p.order_code = o.order_code
        LEFT JOIN visit AS v ON v.visit_code = p.visit_code
        LEFT JOIN patient AS pat ON pat.patient_no = v.patient_no
        WHERE r.cancel_register_dt IS NULL AND p.status_code IN ("D", "S")
        <if test="barcode == ''">
            AND LEFT(r.register_dt, 10) BETWEEN #{stDate} AND #{endDate}
        </if>
        <if test="barcode != ''">
            AND r.barcode LIKE concat('%',#{barcode},'%')
        </if>
        ORDER BY r.register_dt DESC
    </select>

    <select id="getSearchInspectionTypeMapper" resultType="com.douzone.lis_back.domain.InspectionTypeDTO" parameterType="String">
        SELECT baseline, inspection_code AS inspectionCode, inspection_name AS inspectionName, order_code AS orderCode, unit
        FROM inspection_type
        WHERE order_code = #{orderCode}
        ORDER BY inspection_code ASC;
    </select>

    <select id="getSelectConclusionMapper" resultType="com.douzone.lis_back.domain.ConclusionDTO" parameterType="com.douzone.lis_back.domain.SearchDTO">
        SELECT c.figures AS figures, c.inspection_code AS inspectionCode, c.inspection_dt AS inspectionDt, c.note AS note,
               c.result_no AS resultNo, r.barcode AS barcode, r.register_code AS registerCode
        FROM conclusion AS c
                 LEFT JOIN register AS r ON c.register_code = r.register_code
        WHERE r.barcode = #{barcode} AND r.cancel_register_id IS NULL
        ORDER BY c.inspection_code ASC
    </select>

    <select id="getUnsuitableStatus" resultType="com.douzone.lis_back.domain.UnsuitableStatusDTO">
        SELECT u.unsuitable_reason_code AS unsuitableReasonCode, u.barcode AS barcode, u.prescribe_code AS prescribeCode,
               ur.unsuitable_reason_name AS unsuitableReasonName, u.unsuitable_reason_text AS unsuitableReasonText,
               ur.unsuitable_status_code AS unsuitableStatusCode, u.unsuitable_update_dt AS unsuitableUpdateDt
        FROM unsuitable_status_management AS u
                 LEFT JOIN unsuitable_reason AS ur ON ur.unsuitable_reason_code = u.unsuitable_reason_code;
    </select>

    <insert id="insertConclusionBatchMapper" parameterType="com.douzone.lis_back.domain.ConclusionDTO">

        INSERT INTO conclusion (inspection_code, register_code, figures, inspection_dt, note)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <if test="index >= 0">
                (#{item.inspectionCode},#{item.registerCode},#{item.figures},now(),#{item.note})
            </if>
        </foreach>;
    </insert>

    <update id="updateConclusionBatchMapper" parameterType="com.douzone.lis_back.domain.ConclusionDTO">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE conclusion
            <set>
                inspection_dt=now(), figures= #{item.figures}, note= #{item.note}
            </set>
            WHERE result_no=#{item.resultNo}
        </foreach>
    </update>

    <update id="updatePrescribeStatusMapper" parameterType="Object">
        UPDATE prescribe
        SET status_code= #{status}
        WHERE prescribe_code = (SELECT prescribe_code FROM register WHERE register_code=#{registerCode} AND cancel_register_dt IS NULL);
    </update>

</mapper>